{% extends 'base.html.twig' %}

{% block title %}
	Product Admin
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mb-2">
			<div class="col">
				<div class="row">
					<div class="col-7">
						<select class="form-control" onchange="window.location.href=this.value">
							<option>Select one</option>
							<option value="{{ path('ad_sort_product_id_ascending')}}">ID Ascending</option>
							<option value="{{ path('ad_sort_product_id_descending')}}">ID Descending</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<form action="{{ path('ad_search_product')}}" method="post">
								<input class="form-control" type="search" name="keyword" placeholder="Search by product name">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-light table-hover">
			<thead>
				<tr>
					<th class="text h1 text-center" colspan="3">
						List of Products
					</th>
					<th>
						Total: {{products | length}}
						<a href="{{ path('ad_add_product') }}">
							<img src="{{ asset('images/actions/add.png') }}" alt="">
						</a>
					</th>
				</tr>
				<tr>
					<th class="text text-dark">ID</th>
					<th class="text">Name</th>
					<th class="text">Image</th>
					<th class="text">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td class="text text-success">{{product.id}}</td>
						<td class="text text-success">{{product.name}}</td>
						<td class="text text-success">
							<img src="{{product.image}}" alt="" width="200" height="250">
						</td>
						<td class="text text-success">
							<a href="{{path('ad_view_product_detail', {'id':product.id})}}">
								<img src="{{asset('images/actions/view_detail.png')}}" alt="" width="30" height="30">
							</a>
							<a href="{{path('ad_edit_product', {'id':product.id})}}">
								<img src="{{asset('images/actions/edit.png')}}" alt="" width="30" height="30">
							</a>
							<a href="{{path('ad_delete_product', {'id':product.id})}}" onclick="return confirm('Delete this product?');">
								<img src="{{asset('images/actions/delete.gif')}}" alt="" width="30" height="30">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
