{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 d-flex align-items-stretch">
				<img src="{{ product.image }}" width="300" height="400">
			</div>
			<div class="col-md-8">
				<table class="table">
					<tr>
						<th colspan="2" class="bg-success text-warning">{{ product.name }}</th>
					</tr>
					<tr>
						<th class="bg-light col-md-3">ID</th>
						<td class="col-md-9">
							{{ product.id }}
						</td>
					</tr>
					<tr>
						<th class="bg-light col-md-3">Price</th>
						<td class="col-md-9">
							{{ product.price }}
						</td>
					</tr>
					<tr>
						<th class="bg-light col-md-3">Remain</th>
						<td class="col-md-9">
							{% if product.remain > 0 %}
								{{ product.remain }}
							{% else %}
								Sold Out
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="bg-light col-md-3">Brand</th>
						<td class="col-md-9">
							{% if product.brand != null %}
								<a href="">{{ product.brand.name }}</a>
							{% else %}
								N/A
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="bg-light col-md-3">Category</th>
						<td class="col-md-9">
							{% if product.category != null %}
								<a href="">{{ product.category.name }}</a>
							{% else %}
								N/A
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="bg-light col-md-3">Actions</th>
						<td>
							{% if product.remain > 0 %}
								<a data-bs-toggle="modal" data-bs-target="#raisePrdsNumb">
									<img src="{{asset('images/actions/minus.png')}}" alt="" width="30" height="30">
								</a>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="raisePrdsNumb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Check out</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="{{ path('staff_take_product') }}" method="post">
						<div class="mb-3">
							<label for="numberOfProductsTaken" class="form-label">Number of
								{{product.name}}
								to be taken</label>
							<input type="number" id="numberOfProductsTaken" class="form-control" min="1" max="{{ product.remain }}" name="numb_taken">
							<input type="hidden" name="id" value="{{ product.id }}">
							<input type="hidden" name="user_id" value="{{ app.user.id }}">
						</div>
						<button type="submit" class="btn btn-outline-success">Check out</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
